%h4 新回复清单
%table
  %tr
    %th 内容
    %th 回复链接
    %th 回复时间
    %th 回复用户名
  - @posts_arr.each do |post_hash|
    %tr
      %td= post_hash[:post_content]
      %td= post_hash[:post_link]
      %td= post_hash[:posted_at]
      %td= link_to post_hash[:author_name], post_hash[:author_link]
